rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated(userId){
        return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create;
      allow read, update: if isAuthenticated(userId);

      match /bookmarks/{bookmark_id} {
        allow create, read, update;
      }
      match /tags/{tag_name} {
        allow create, read, update;
      }
    }
  }
}